{% extends "base.html" %}

{% block content %}
<div class="main-section">
    <h1 class="main-heading">Find Your Inner Peace</h1>
    <p class="main-desc">Book Yoga Sessions & Events</p>
    <a href="#" class="get-started-btn">Get Started</a>
</div>

<h2 class="main-heading2">Popular Sessions</h2>
<hr>
<div class="cards-div">
    <div class="card">
        <img src="../static/card1-img.jpg" class="card-img" alt="Yoga img" width="200">
        <h3 class="event-name">Benifits Of Yoga</h3>
        <p class="date-time">May 15 | 8:00 AM</p>
        <a href="#" class="detail-btn">More Details</a>
    </div>
    <div class="card">
        <img src="../static/card2-img.jpg" class="card-img" alt="Yoga img" width="200">
        <h3 class="event-name">Best Practices</h3>
        <p class="date-time">May 20 | 8:00 AM</p>
        <a href="#" class="detail-btn">More Details</a>
    </div>
    <div class="card">
        <img src="../static/card3-img.jpg" class="card-img" alt="Yoga img" width="200">
        <h3 class="event-name">Yoga Precautions</h3>
        <p class="date-time">May 25 | 8:00 AM</p>
        <a href="#" class="detail-btn">More Details</a>
    </div>
</div>
{% endblock %}