{% extends "base.html" %}

{% block content %}
<section class="signup-section">
    <div class="signup-form-div">
        <h1 class="signup-heading">Create a New Account</h1>
        {% block message %} {% endblock %}
        <form method="post" action="/signupsubmit">
            <label for="name">Full name</label><br>
            <input type="text" name="name" id="name"><br>
            <label for="email">Email</label><br>
            <input type="email" name="email" id="email"><br>
            <label for="pass">Passwords</label><br>
            <input type="password" name="pass" id="pass"> <br>
            <label for="pass-con">Confirm Passwords</label><br>
            <input type="password" name="confirmpass" id="pass-con"> <br>
            <button type="submit" class="signup-form-btn">Sign Up</button>
        </form>
    </div>
</section>
{% endblock %}